<html>
<head>
<title> Teste Cloud Neon </title>
<style type="text/css">
<!--
h1	{text-align:center;
	font-family:Arial, Helvetica, Sans-Serif;
	}

p	{text-indent:20px;
	}
-->
</style>
</head>
<body bgcolor = "#00FFFF" text = "#000000">
<h1>Olá Candidato!</h1>

<p>Muito obrigado pela participação. Se você está vendo essa pagina, provavelmente chegou próximo ao final do seu teste.</p>

<p>Lembre-se de ler atentamente as instruções enviadas pelo recrutador e reunir o máximo de informações para nos enviar, enriquecendo assim o seu ótimo trabalho executado.</p>

<p>Aguardamos a suas respostas e conteúdos. Esperamos que tenha se divertido e aprendido algo novo.</p>

<p>Obrigado. {{ team }}</p>

</body>
</html>
